{% extends 'base.html' %}

{% block title %} Tradeshift Nested Tree {% endblock %}
{% block content %}
<div class="container d-flex flex-direction: column justify-content-center">
<form class="p-2" action="#" method="POST">
	<h3 class="p-2">NodeGetter</h3>
	<p class="p-2"><input class="wrap-input100 validate-input" type="text" name="node"></p>
	<p class="p-2"><input name="NodeGetter" type="submit" value="submit" onclick=""></p>
</form>
<form class="p-2" action="#" method="POST">
	<h3 class="p-2">NodeChanger</h3>
	<p class="p-2"><input class="wrap-input100 validate-input" type="text" name="orig"></p>
	<p class="p-2"><input class="wrap-input100 validate-input" type="text" name="parent"></p>
	<p class="p-2"><input name="nodeChanger" type="submit" value="submit" onclick=""></p>
</form>
</div>
<div class="container">
	<table class="table table-dark">
		<thead class="table table-light">
			<tr><td>id</td>
			<td>name</td>
			<td>height</td>
			<td>parent</td>
			<td>root</td></tr>
		</thead>
		<tbody>
		{% for i in range(0, name|length)  %}
			<tr><td>{{ id[i] }}</td>
			<td>{{ name[i] }}</td>
			<td>{{ height[i] }}</td>
			<td>{{ parent[i] }}</td>
			<td>{{ root[i] }}</td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}