h1{
  width: 100%;
  color: white;
  text-align: center;
  border: 1px gradient #ccc;
  border-radius: 4px;
}

form {
  background-color: black;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input:focus ~ .cut,
input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

input:focus ~ .placeholder {
  color: #dc2f55;
}